<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <display-name>SAHARA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserSign</display-name>
    <servlet-name>UserSign</servlet-name>
    <servlet-class>UserSign</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserSign</servlet-name>
    <url-pattern>/UserSign</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegUser</display-name>
    <servlet-name>RegUser</servlet-name>
    <servlet-class>RegUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegUser</servlet-name>
    <url-pattern>/RegUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegUser1</display-name>
    <servlet-name>RegUser1</servlet-name>
    <servlet-class>RegUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegUser1</servlet-name>
    <url-pattern>/RegUser1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogUser</display-name>
    <servlet-name>LogUser</servlet-name>
    <servlet-class>LogUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogUser</servlet-name>
    <url-pattern>/LogUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateUser</display-name>
    <servlet-name>UpdateUser</servlet-name>
    <servlet-class>UpdateUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUser</servlet-name>
    <url-pattern>/UpdateUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Consignment</display-name>
    <servlet-name>Consignment</servlet-name>
    <servlet-class>Consignment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consignment</servlet-name>
    <url-pattern>/Consignment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Consinger</display-name>
    <servlet-name>Consinger</servlet-name>
    <servlet-class>Consinger</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consinger</servlet-name>
    <url-pattern>/Consinger</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Consignee</display-name>
    <servlet-name>Consignee</servlet-name>
    <servlet-class>Consignee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consignee</servlet-name>
    <url-pattern>/Consignee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Consigner</display-name>
    <servlet-name>Consigner</servlet-name>
    <servlet-class>Consigner</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Consigner</servlet-name>
    <url-pattern>/Consigner</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveEditedDetails</display-name>
    <servlet-name>SaveEditedDetails</servlet-name>
    <servlet-class>SaveEditedDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveEditedDetails</servlet-name>
    <url-pattern>/SaveEditedDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteDetailServlet</display-name>
    <servlet-name>DeleteDetailServlet</servlet-name>
    <servlet-class>DeleteDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteDetailServlet</servlet-name>
    <url-pattern>/DeleteDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GenerateBillServlet</display-name>
    <servlet-name>GenerateBillServlet</servlet-name>
    <servlet-class>GenerateBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GenerateBillServlet</servlet-name>
    <url-pattern>/GenerateBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmBillServlet</display-name>
    <servlet-name>ConfirmBillServlet</servlet-name>
    <servlet-class>ConfirmBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmBillServlet</servlet-name>
    <url-pattern>/ConfirmBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadReceipt</display-name>
    <servlet-name>DownloadReceipt</servlet-name>
    <servlet-class>DownloadReceipt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadReceipt</servlet-name>
    <url-pattern>/DownloadReceipt</url-pattern>
  </servlet-mapping>
</web-app>